* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration-line: none;
}

.header {
    display: flex;
    padding: 21.84px 0;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

.header ul {
    display: flex;
    list-style: none;
}

.list ul {
    gap: 60px;
}

.icons ul {
    gap: 24px;
}

.card-section {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    padding: 40px 0;
    margin: 0 165px;

}

.card {
    text-align: center;
    width: calc((100% - 90px) / 4)
}

img {
    width: 100%;
}

.card h2 {
    margin-top: 23px;
}
